* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --highlight-color: #666666;
}

a {
  text-decoration: none;
  color: blue;
}

/* Utility Class */
.bold {
  font-weight: bold;
}

.wrapper {
  margin: auto;
  width: 50%;
  text-align: left;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  background-color: #eeeeee;
  margin-right: 0.50rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.m-auto {
  margin: auto;
}

.m-top-bottom {
  margin: 1rem 0;
}

.highlight-small-text {
  font-size: 14px;
  color: #888888;
}

.media-description {
  color: var(--highlight-color);
}
/* Advertisement */
.advert {
  background-color: #f7f7f7;
  color: lightgray;
  text-align: center;
  font-size: 10px;
  padding-top: 0.50rem;
  height: 300px;
  margin-bottom: 1.5rem;
}
/* NavBar */
.nav-container {
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  margin: 0.40rem 0;
  padding: 0 2rem;
  border-bottom: 1px solid #e2e2e2;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif ;
  color: #333;
  font-size: 14px;
}

.nav-main .nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left img {
  width: 13px;
  margin-right: 1rem;
}

.nav-center {
  display: flex;
  justify-content: center;
 }

.nav-center img {
  width: 11rem;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0.40rem;
}

.nav-right a {
  color: #333;
  margin-right: 1rem;
  text-decoration: underline;
}

.nav-right button {
  padding: 0.50rem 0.75rem;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  font-size: 13.5px;
}

/* Main Container */
.showcase-container {
  width: 80%;
  margin-top: 3rem;
  text-align: center;
}

/* Header Section */
.header-container {
  margin-bottom: 2rem;
}

.header-image img {
  width: 100%;
}

h1 {
  width: 600px;
}

h1 span {
  font-style: italic;
  float: left;
  font-size: 40px;
  padding: 1rem;
}

.image-description {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #666666;
  text-align: left;
  width: 80%;
  line-height: 1.3rem;
}

/* Social Link Section */
.social-links-container {
  line-height: 2.5rem;
}
.author,
.article-date {
  font-family: Arial, Helvetica, sans-serif;
}

.author span{
  border-bottom: 1px solid #e2e2e2;
}

.article-date {
  font-size: 14px;
  color: #333;
}

.flex i {
  margin: 0 1rem;
}

/* Notice Section */
.notice-container {
  border: 1px solid #e2e2e2;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 1rem;
  width: 85%;
  text-align: left;
}

.notice-container a {
  text-decoration: underline;
}

/* Article Start */
.article-section {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-bottom: 0.75rem;
}

/* Infographic Section */
.infographic-container {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}

.info-description {
  font-size: 16px;
  color: var(--highlight-color);
  margin: 0.75rem 0;
}

.infographic-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.40rem;
}

.infographic-grid .info-image img,
.infographic-grid .info-content {
  width: 100%;
  height: 150px;
}

.infographic-grid .info-content p {
  font-size: 14px;
}

.infographic-container hr {
  background-color: #000000;
  color:#000000;
  width: 15%;
  border-color: #000000;
  margin-bottom: 0.75rem;
}

.infographic-author {
  font-size: 12px;
}

figure img {
  width: 100%;
  height: 350px;
}

.highlight-small-text a {
  color:#888888;
  text-decoration: underline;
}

/* Comments */
.comments {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.comments-button {
  background-color:#567B95 ;
  padding: 0.75rem 5rem;
  border-radius: 5px;
  text-align: center;
}

.comments-button a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

/* Recommendation Section */

.recommendation-container {
  margin: 1rem 2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}

.recommendation-container h3 {
  margin: 1rem 0;
}

.recommendation-grid,
.editor-pick-container {
  border-top: 1px solid #000000;
}

.more-in-space,
.editor-pick {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem 8rem;
  margin-bottom: 2rem;
}

.most-popular {
  border-top: 1px solid #000000;
}

.reco-image img,
.reco-content {
  width: 100%;
  height: auto;
}
.reco-content p {
  line-height: 1.5rem;
}

.reco-content:nth-child(2) {
  font-size: 20px;
}

.reco-small-text {
  color: #999999;
  font-size: 11px;
}

.right {
  text-align: right;
}

.small-advert {
  background-color: #f7f7f7;
  color: lightgray;
  text-align: center;
  font-size: 10px;
  padding-top: 0.50rem;
}

.most-popular p {
  margin: 1.2rem 0;
  line-height: 1.5rem;
  border-top: 1px solid #999999;
  font-size:  18px ;
  padding: 1rem 0;
}

.most-popular p a {
  color: #000000 ;
}

/* Footer Section */
.footer-container {
  margin: 3rem;
  padding: 0.75rem 0;
  border-top: 4px double #999999;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-header {
  margin-bottom: 1rem;
}
.footer-header img {
  width: 11rem;
}

.footer-header a {
  font-size: 14px;
}

.footer-list-container {
  border-bottom: 1px solid #999999;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.75rem;
}

.list-wrapper {
   line-height: 1.5rem;
   font-size: 12px;
}

li {
  list-style: none;
}

.side-list {
  border-left: 1px solid #999999;
  padding-left: 0.75rem;
}

.side-list img {
  width: 15px;
  margin-right: 0.50rem;
}
.side-list-big {
  font-size: 15px;
  padding-bottom: 1rem;
  line-height: 2rem;
}

.side-list-small {
  font-size: 10px;
}

.small-footer {
  width: 70%;
  margin-top: 1rem;
  text-align: center;
  font-size: 10px;
}

.small-footer p a {
  color: #999999;
}

.small-footer p a:hover {
  text-decoration: underline;
}